@import "tailwindcss";

button {
  cursor: pointer;
}
* {
  font-family: "Poppins", sans-serif;
}
.logo {
  font-family: "Playfair Display", serif !important;
}

@layer utilities {
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
}
